@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-italics.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/futura-book.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --h1: 47px;
    --h2: 36px;
    --h3: 27px;
    --h4: 21px;
    --p1: 16px;
    --p2: 14px;
    --p3: 12px;

    --container-width: 90vw;
    --container-padding-top-bottom: 64px;

    --white: #ffffff;
    --black: #000000;
    --font-white: #ffffff;
    --font-black: #000000;
    --mustard: #df8d1a;
    --light-mustard: #e89c31;
    --mustard-hover: #ff9500;
}

body {
    color: var(--white);
    font-family: 'Helvetica', sans-serif;
    background-color: grey;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: var(--h1);
}

p {
    padding: 0;
    margin: 0;
}

.section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/website images/hero\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container-hero {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: var(--container-width);
    padding: var(--container-padding-top-bottom) 0;
}

.column-hero-copy {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

}


.hero-heading-coloured {
    color: var(--light-mustard);
}

.hero-p {
    font-size: var(--p1);
}

.button-CTA {
    font-size: var(--p1);
    padding: 8px 32px;
    width: fit-content;
    border-radius: 12px;
    background-color: var(--mustard);
    color: var(--font-white);
    border: 0px;
    cursor: pointer;
}

.button-CTA:active {
    transform: scale(0.99);
}

.button-CTA:hover {
    background-color: var(--mustard-hover);
}

.column-hero-image {
    grid-column-start: 2;
    height: 100%;
    width: 100%;
    background-image: url('images/website images/hero\ food.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;

}

.section-about {
    color: var(--font-black);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.container-about {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: var(--container-width);
    padding: var(--container-padding-top-bottom) 0;
}

.column-about-text {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.column-about-image {
    grid-column-start: 1;
    height: 300px;
    width: auto;
    background-image: url('images/website images/small cafe example .jpg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}