@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-italics.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/futura-book.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --h1: 47px;
    --h2: 36px;
    --h3: 27px;
    --h4: 21px;
    --p1: 16px;
    --p2: 14px;
    --p3: 12px;

    --container-width: 90%;
    --container-spacing-vertical: 64px;
    --container-spacing-horizontal: 5vw;

    --white: #ffffff;
    --black: #000000;
    --font-white: #ffffff;
    --font-black: #000000;
    --mustard: #df8d1a;
    --light-mustard: #e89c31;
    --mustard-hover: #ff9500;
    --navy-blue: #0b3248;
    --translucent: rgba(0, 0, 0, 0.15);

    --cards-border-radius: 24px;
    --card-food-width: calc((var(--container-width)*0.9)/6);
    --card-food-gap: calc((var(--container-width)*0.1)/5);
    --card-reviews-width: calc((var(--container-width)*0.95)/4);
    --card-reviews-gap: calc((var(--container-width)*0.05)/3);
}

body {
    color: var(--white);
    font-family: 'Helvetica', sans-serif;
    background-color: grey;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: var(--h1);
}

h2 {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: var(--h2);
}

h4 {
    padding: 0;
    margin: 0 0 4px 0;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: var(--h4);
}

p {
    padding: 0;
    margin: 0;
}

.section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/website images/hero\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container-hero {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin: var(--container-spacing-vertical) var(--container-spacing-horizontal);
}

.column-hero-copy {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

}


.hero-heading-coloured {
    color: var(--light-mustard);
}

.hero-p {
    font-size: var(--p1);
}

.button-CTA {
    font-size: var(--p1);
    padding: 8px 32px;
    width: fit-content;
    border-radius: 12px;
    background-color: var(--mustard);
    color: var(--font-white);
    border: 0px;
    cursor: pointer;
}

.button-CTA:active {
    transform: scale(0.99);
}

.button-CTA:hover {
    background-color: var(--mustard-hover);
}

.column-hero-image {
    grid-column-start: 2;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: right center;
}

.section-about {
    color: var(--font-black);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.container-about {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    align-items: center;
    width: 100%;
    margin: var(--container-spacing-vertical) var(--container-spacing-horizontal);
}

.column-about-text {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column-about-image {
    grid-column-start: 1;
    height: 300px;
}

.about-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.section-cards {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--navy-blue);
    padding: var(--container-spacing-vertical) 0;


}

.container-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: visible;
}

.cards-nav {
    margin: 0 var(--container-spacing-horizontal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-buttons {
    display: flex;
    flex-direction: row;
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.slider-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.slider-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    scroll-snap-type: x mandatory;
    overflow: hidden;

}

#slider-food {
    gap: var(--card-food-gap);
}

#cards-spacer-food {
    width: calc(((100% - var(--container-width))/2) - var(--card-food-gap));
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}

.card-food {

    display: flex;
    flex-direction: column;
    width: var(--card-food-width);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: var(--cards-border-radius);
    background-color: var(--translucent);
    box-shadow: -4px 4px 20px -6px var(--black);
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-margin-left: var(--container-spacing-horizontal);

}

.image-food {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: var(--cards-border-radius) var(--cards-border-radius) 0 0;
}

.text-food {
    width: 100%;
    border-radius: 0 0 var(--cards-border-radius) var(--cards-border-radius);
    padding: 16px 12px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}


#slider-reviews {
    gap: var(--card-reviews-gap);
}

#cards-spacer-reviews {
    width: calc(((100% - var(--container-width))/2) - var(--card-reviews-gap));
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}

.card-review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--card-reviews-width);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: var(--cards-border-radius);
    background-color: var(--translucent);
    box-shadow: -4px 4px 20px -6px var(--black);

    gap: 16px;
    padding: 20px 16px;
    box-sizing: border-box;

    scroll-snap-align: start;
    scroll-margin-left: var(--container-spacing-horizontal);
}

.info-review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.text-review {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: var(--p2);
    width: 100%;
}

.text-review-source {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: 400;
    font-style: italic;
    font-size: var(--p3);
    width: 100%;
}

.image-reviewer {
    width: 48px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-position: center;
}